
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">LH - Vagas</a>
            <a class="nav-link" routerLink="/mural" href="#">Mural de Vagas</a>
            <a class="nav-link" routerLink="/painel" href="#">Cadastro de Vagas</a>
          </div>
        </div>
      </div>
    </nav>